---
layout: default_style
permalink: /people
title: People
---

<section id="people" class="services-section section-global-wrapper">
<div class="container">
    <div class="row justify-content-center">
        <div class="services-header">
            <h3 class="services-header-title">{{page.title}}</h3>
            <!--                <p class="services-header-body"><em> Things we provide in Office </em>  </p><hr>-->
        </div>
    </div>

    {% for people in site.people %}
        {% assign loopindex = forloop.index0 | modulo: 2 %}
        {% assign animationType = 'fadeInRight' %}

        {% if loopindex == 0 %}
            {% assign animationType = 'fadeInLeft' %}
            <div class="row">
        {% endif %}
        <div class="col-md-6">
            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                <div class="square pull-left">
                    <img src="{{site.baseurl}}/assets/img/people/{{people.image}}" alt="Feature-img" class="person-image">
                </div>
                <h4>
                    {{people.name}}
                </h4>
                <p>
                    {{people.role}}
                </p>
                <a class="pr-2" href="{{people.twitter}}" target="_blank" title="Twitter">
                    <i class="fa fa-lg fa-twitter"></i>
                </a>
                <a class="pr-2" href="{{people.linkedin}}"
                   target="_blank" title="LinkedIn">
                    <i class="fa fa-lg fa-linkedin"></i>
                </a>
                <a class="" href="{{people.github}}" target="_blank" title="GitHub">
                    <i class="fa fa-lg fa-github"></i>
                </a>
            </div>
        </div>

        {% if loopindex == 1 or forloop.last %}
            </div>
        {% endif %}

        {% endfor %}
</div>
</section>