---
layout: default_style
permalink: /research-themes
title: Research Themes
---

<section class="services-section section-global-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="services-header">
                <h2 class="services-header-title">Our {{page.title}}</h2>
            </div>
        </div>

        <div class="row justify-content-left">
            <p class="blog-post">
                <b>Mission</b>: The mission of the WIS research group is to develop a deep understanding of the construction and use of web-based information systems, 
                to develop novel methods, techniques, and tools that advance the way in which web-based information systems are constructed and used, and to offer 
                students education that prepares them for a leading role in web-based information systems science and technology. 
                <br/>
                <b>Focus</b>: In the Web Information Systems research group, we aim at making web information systems more effective in retrieving, processing and 
                    interpreting (human‐generated) web data.
                <br>
                <b>Motivation</b>: Extracting semantics from web data reflecting people's actions and behaviors enables information systems that are effective, 
                personalized and adaptive.
            </p>
        </div>

        {% for team in site.teams %}
            {% assign loopindex = forloop.index0 | modulo: 2 %}
            {% assign animationType = 'fadeInRight' %}

            {% if loopindex == 0 %}
                {% assign animationType = 'fadeInLeft' %}
                {% if forloop.first %}
                    <div class="row services-row services-row-head">
                {% else %}
                    <div class="row services-row services-row-tail">
                {% endif %}
            {% endif %}

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 blockquote-{{team.team | downcase}}">
                <div class="square services-group animated {{animationType}}">
                    <p class="services-icon"><span class="fa fa-delta fa-5x"></span></p>
                    <h4 class="services-title">{{ team.title }}</h4>
                    <p class="services-body">{{ team.excerpt }}</p>
                    <p class="services-more"><a href="{{site.baseurl}}{{team.url}}">Find Out More</a></p>
                </div>
            </div>

            {% if loopindex == 1 %}
                </div>
            {% endif %}

        {% endfor %}


    </div>
</section>

