---
layout: default_style
permalink: /research-themes
title: Research Themes
---

<section id="services" class="services-section section-global-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="services-header">
                <h3 class="services-header-title">Our {{page.title}}</h3>
<!--                <p class="services-header-body"><em> Things we provide in Office </em>  </p><hr>-->
            </div>
        </div>

        {% for team in site.teams %}
            {% assign loopindex = forloop.index0 | modulo: 2 %}
            {% assign animationType = 'fadeInRight' %}

            {% if loopindex == 0 %}
                {% assign animationType = 'fadeInLeft' %}
                {% if forloop.first %}
                    <div class="row services-row services-row-head">
                {% else %}
                    <div class="row services-row services-row-tail">
                {% endif %}
            {% endif %}

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 blockquote-{{team.title | downcase}}">
                <div class="square services-group animated {{animationType}}">
                    <p class="services-icon"><span class="fa fa-delta fa-5x"></span></p>
                    <h4 class="services-title">{{ team.title }}</h4>
                    <p class="services-body">Cras interdum placerat libero vel tempor. Curabitur gravida iaculis erat quis dignissim.</p>
                    <p class="services-more"><a href="{{site.baseurl}}{{team.url}}">Find Out More</a></p>
                </div>
            </div>

            {% if loopindex == 1 %}
                </div>
            {% endif %}

        {% endfor %}


    </div>
</section>

