<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 margin-top-2">
        <h3>Contact:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Phone: {{ site.telephone_number }} <br>
          Email: {{ site.company_email }}<br>
          Address: {{ site.address_line }} <br>
        </p>
      </div>
      <div class="col-md-4 margin-top-2">
        <div class="row">
          <h3>Links</h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><a href="{{site.baseurl}}/about"> About </a></p>
            <p><a href="{{site.baseurl}}/people"> People </a></p>
            <p><a href="{{site.baseurl}}/research-themes"> Research Themes </a></p>
            <p><a href="{{site.baseurl}}/publications"> Publications </a></p>
          </div>

          <div class="col-md-6">
            <p><a href="{{site.baseurl}}/teaching"> Education </a></p>
            <p><a href="{{site.baseurl}}/vacancies"> Vacancies </a></p>
            <p><a href="{{site.baseurl}}/contact"> Contact </a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 margin-top-2">
        <p><a href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/software-technology" target="_blank"> Department of Software Technology </a></p>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>
  </div>
</footer>