---
layout: default_style
---

{% assign room = page.office %}
{% unless page.office contains 'Room' %}
{% assign room = 'Room - ' | append: page.office %}
{% endunless %}

<section id="{{page.people}}" class="section-global-wrapper">
    <div class="container content-space">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2 class="row justify-content-center"> {{page.name}} </h2>

                <h5 class="row justify-content-center"> {{page.role}} </h5>

                <p class="row justify-content-center"> <a href="mailto:{{page.email}}" target="_blank">{{page.email}}</a></p>

                <div class="row justify-content-center margin-top-4">
                    <h5><a class="col-lg-2" href="#about">About</a></h5>
                    <h5><a class="col-lg-2" href="#publications">Publications</a></h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="row pr-4">
                    {{page.content}}
                </div>
            </div>

            <div class="col-lg-3 p-4">
                <div class="row">
                    <img src="{{site.baseurl}}/assets/img/people/{{page.image}}" alt="Picture of {{page.name}}"
                         width="100%" height="100%">
                </div>

                <div class="row margin-top-2">
                    {% assign abc = '' %}
                    {% for team in page.team %}
                    {% case team %}
                    {% when 'delta' %}
                    {% assign abc = abc | append: site.delta %}
                    {% when 'kappa' %}
                    {% assign abc = abc | append: site.kappa %}
                    {% when 'epsilon' %}
                    {% assign abc = abc | append: site.kappa %}
                    {% when 'lambda' %}
                    {% assign abc = abc | append: site.lambda %}
                    {% else %}
                    {% assign abc = abc | append: site.lambda %}
                    {% endcase %}

                    {% unless forloop.first == forloop.last or forloop.last %}
                    {% assign abc = abc | append: " and " %}
                    {% endunless %}
                    {% endfor %}

                    <p>
                        <b>Research theme: </b> {{abc}}
                    </p>
                    <p> <b>Visiting address: </b> <br/>
                        <a href="{{site.building_url}}" target="_blank">{{site.building}}</a> <br/>
                        {{ room }} <br/>
                        {{ site.street }} <br/>
                        {{ site.zipcode }} <br/>
                        {{ site.country }} <br/>
                </div>
            </div>
        </div>
    </div>
</section>